{% extends 'base.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration/login.css' %}">
<title>SignUp</title>
{% endblock title %}

{% block content %}
<h1>ovo je Log In</h1>

<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button value="submit">Log In</button>
</form> 

<a href="{% url 'signup' %}">
    <button>Idi na Sign Up</button>
</a>
<a href="{% url 'home' %}">
    <button>Idi kuci</button>
</a>
{% endblock content %}