body {
    background: url('../images/other/background_start.jpg');
    background-size: cover;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}