{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game/bonus.css' %}">
<title>Bonus Page</title>
{% endblock title %}

{% block content %}
<div class="vrh">
    <a href="{% url 'home' %}">
        <button>Idi kuci</button>
    </a>
    <form action="{% url 'bonus' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="delete_bonuses">Izbrisi Bonuse</button>
    </form>
    <button class="izvuci_bonuse">Izvuci Bonuse</button>
</div>


<div class="whole">
    <div class="fighters">
        {% for key, fighter_data in fighters.items %}
            <div>
                <h3>Fighter {{forloop.counter}}</h3>
                <h2>{{ fighter_data.1 }}</h2>
                {% for card in bonuses %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <h4>{{card}}</h4>
                    {% endif %}
                {% endfor %}
                <table>
                    <tr>
                        <th>Overall</th>
                        <th>Health</th>
                        <th>Attack</th>
                        <th>Deffence</th>
                    </tr>
                    <tr>
                        <td>{{fighter_data.2}}</td>
                        <td>{{fighter_data.3}}</td>
                        <td>{{fighter_data.4}}</td>
                        <td>{{fighter_data.5}}</td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}