{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game/draft.css' %}">
<title>Draft</title>
{% endblock title %}

{% block content %}
<div class="okvirni_div">
    <div class="prvi_div">
        <a href="{% url 'home' %}">
            <button>Idi kuci</button>
        </a>
    </div>
    <div class="drugi_div">
        <h1>Random Cards</h1>
        <div class="karte">
            {% for card in cards %}
                <img src="{{card.picture.url}}" alt="{{card.name}}">
            {% endfor %}
        </div>
    </div>
    <div class="treci_div">
        <form method="POST" action="{% url 'draft' %}">
            {% csrf_token %}
            <input type="submit" value="New Cards">
        </form>
    </div>

</div>

{% endblock content %}
<script src="{% static 'js/draft.js' %}"></script>
