{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game/draft.css' %}">
<title>Draft</title>
{% endblock title %}

{% block content %}
<a href="{% url 'home' %}">
    <button>idi kuci</button>
</a>
<div class="whole">
    {% if cards %}
    <div class="first">
        <div class="first_one">
            <h3>Humans</h3>
            <div class="inside">
                {% for card in cards %}
                    {% if forloop.counter < 9 %}
                        <img src="{{ card.picture.url }}" alt="{{ card.name }}">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="first_two">
            <h3>Fantasy</h3>
            <div class="inside">
                {% for card in cards %}
                    {% if forloop.counter >= 9 and forloop.counter < 17 %}
                        <img src="{{ card.picture.url }}" alt="{{ card.name }}">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="second">
        <form action="{% url 'draft' %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="draw_cards">Draw Champions</button>
            <button type="submit" name="delete_cards">Delete cards</button>
        </form>
        <a href="{% url 'bonus' %}">
            <button>Proceed to Bonuses</button>
        </a>
    </div>
    <div class="third">
        <div class="third_one">
            <h3>Creature</h3>
            <div class="inside">
                {% for card in cards %}
                    {% if forloop.counter >= 17 and forloop.counter < 25 %}
                        <img src="{{ card.picture.url }}" alt="{{ card.name }}">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="third_two">
            <h3>Alien</h3>
            <div class="inside">
                {% for card in cards %}
                    {% if forloop.counter >= 25 and forloop.counter <= 32 %}
                        <img src="{{ card.picture.url }}" alt="{{ card.name }}">
                    {% endif %}
                {% endfor %}
            </div>
    </div>
    {% else %}
    <div class="second">
        <form action="{% url 'draft' %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="draw_cards">Draw Champions</button>
            <a href="{% url 'bonus' %}">
                <button>Proceed to Bonuses</button>
            </a>
            <button type="submit" name="delete_cards">Delete cards</button>
        </form>
    </div>
    {% endif %}
</div>

{% endblock content %}
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="{% static 'js/draft.js' %}"></script>
