{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game/list.css' %}">
<title>List of Cards</title>
{% endblock title %}

{% block content %}
<div class="prvi_div">
    <a href="{% url 'home' %}">
        <button>Idi kuci</button>
    </a>
</div>
<div class="drugi_div">

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Race</th>
            <th>Tier</th>
            <th>Overall</th>
            <th>Speed</th>
            <th>Health</th>
            <th>Attack</th>
            <th>Deffence</th>
        </tr>
        {% for card in data_of_cards|dictsort:"attack" %}
        <tr>
            <td>{{card.id}}</td>
            <td>{{card.name}}</td>
            <td>{{card.race}}</td>
            <td>{{card.tier}}</td>
            <td>{{card.overall}}</td>
            <td>{{card.speed}}</td>
            <td>{{card.health}}</td>
            <td>{{card.attack}}</td>
            <td>{{card.deffence}}</td>
        </tr>
    {% endfor %}
    </table>


</div>

{% endblock content %}