{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game/pairs.css' %}">
<title>Pairs page</title>
{% endblock title %}

{% block content %}
<a href="{% url 'home' %}">
    <button>Idi kuci</button>
</a>
<div class="whole">
    <div class="first_half">
        <h1>Pairs here</h1>
        {% for key, fighter_data in fighters.items %}
            {% if forloop.counter0|divisibleby:2 %}
                <div class="pairs">
                    {% endif %}
                        {% for card in cards %}
                            {% if fighter_data.0 == card.id %}
                                {% if not forloop.counter0|divisibleby:2 %}
                                    <div>
                                        <img src="{{ card.picture.url }}" alt="{{ card.name }}">
                                        <table>
                                            <tr>
                                                <th>Overall</th>
                                                <th>Health</th>
                                                <th>Attack</th>
                                                <th>Deffence</th>
                                            </tr>
                                            <tr>
                                                <td>{{fighter_data.2}}</td>
                                                <td>{{fighter_data.3}}</td>
                                                <td>{{fighter_data.4}}</td>
                                                <td>{{fighter_data.5}}</td>
                                            </tr>
                                        </table>
                                    </div>    
                                {% else %}
                                <div>
                                    <img src="{{ card.picture.url }}" alt="{{ card.name }}">
                                    <table>
                                        <tr>
                                            <th>Overall</th>
                                            <th>Health</th>
                                            <th>Attack</th>
                                            <th>Deffence</th>
                                        </tr>
                                        <tr>
                                            <td>{{fighter_data.2}}</td>
                                            <td>{{fighter_data.3}}</td>
                                            <td>{{fighter_data.4}}</td>
                                            <td>{{fighter_data.5}}</td>
                                        </tr>
                                    </table>
                                </div>   
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% if forloop.counter|divisibleby:2 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
        
    </div>
    <div class="second_half">
        <h1>Logs here</h1>
        <p>

        </p>
    </div>
</div>

{% endblock content %}