{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/game/start.css' %}">
<title>Start Game</title>
{% endblock title %}

{% block content %}
<body>
    
    <div class="whole">

        <div class="photo">
            <button class="animation_button" id="animation_button1">Animate</button>
            <button class="animation_button2" id="animation_button2">Visual</button>
            <div class="colored_image" id="colored_image"></div>
            <img src="{% static 'images/other/background-menu-bw.jpg' %}" alt="background" class="bg-bw">
            
        </div>

        <div class="menu">

        {% if from_lobby %}

        <form action="{% url 'start' %}" method="POST">
            {% csrf_token %}
            <a href="{% url 'lobby' %}">
                <button name="continue">Continue</button>
            </a>
            <a href="{% url 'save_game' %}">
                <button name="save_game_button">Save Game</button>
            </a>
            <a href="{% url 'load_game' %}">
                <button name="load_game_button">Load Game</button>
            </a>
            <a href="#">
                <button>Options</button>
            </a>
            <a href="#">
                <button>Tutorials</button>
            </a>
            <a href="#">
                <button>Exit Game</button>
            </a>
        </form>

        {% else %}

        <form action="{% url 'start' %}" method="POST">
            {% csrf_token %}
            <a href="{% url 'new_game' %}">
                <button name="new_game_button">New Game</button>
            </a>
            <a href="{% url 'load_game' %}">
                <button name="load_game_button">Load Game</button>
            </a>
            <a href="#">
                <button>Options</button>
            </a>
            <a href="#">
                <button>Tutorials</button>
            </a>
            <a href="#">
                <button>Exit Game</button>
            </a>
        </form>

        {% endif %}

    </div>   
        
    </div>
</body>

<script src="{% static 'js/start.js' %}"></script>
{% endblock content %}