.okvirni_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prvi_div {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drugi_div {
    width: 95%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.treci_div {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.treci_div form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.treci_div input {
    width: 70%;
    border-radius: 10px;
    background-color: green;
    font-size: 18px;
    padding: 5px;
}

.treci_div input:hover {
    background-color: rgb(80, 129, 80);
}

.karte {
    background-color: azure;
    overflow: scroll;
    margin: auto;
}

.karte img {
    width: 150px;
}