.whole {
    width: 98%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(42, 62, 55);
}


.first_half {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
    overflow: auto;
}
.first_half img {
    width: 250px;
}

.first_half div {
    margin: 10px;
    border: 2px solid black;
}

.pairs {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.pairs div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: none;
}

.pairs div table {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin: 0%;
    width: 100%;
}