.whole {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fighters {
    width: 90%;
    margin: 0% 3% 3% 5%;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    display: flex;
}

.fighters_cont {
    width: 90%;
    margin: 0% 3% 3% 5%;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

.battle {
    width: 40%;
    margin: 0% 3% 3% 5%;
    padding: 10px;
    border: 2px solid black;
    text-align: center;

}

.logs {
    width: 50%;
    border: 2px solid black;
    margin: 0% 2% 3% 0%;
}

.forms {
    width: 100%;
    margin: 2% 0%;
}

.forms form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.battle p img {
    width: 200px;
}