@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');



.reset_body {
    background: url('../../images/other/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.pass_reset {
    font-family: 'Poppins', sans-serif;
    font-weight: bold
}