{% extends 'base.html' %}
{% load static %}


{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<title>Home Page</title>
{% endblock title %}

{% block content %}
<h1>ovo je Home page</h1>

<a href="{% url 'start' %}">
    <button>Idi na Menu</button>
</a>
<a href="{% url 'list' %}">
    <button>Idi na detalje karti</button>
</a>
<a href="{% url 'draft' %}">
    <button>Idi u Draft</button>
</a>
<a href="{% url 'bonus' %}">
    <button>Idi na Bonuse</button>
</a>
<a href="{% url 'tournament' %}">
    <button>Idi na Turnir</button>
</a>
<a href="{% url 'cards' %}">
    <button>Idi na Karte</button>
</a>
<a href="{% url 'pairs' %}">
    <button>Idi na Parove</button>
</a>
<a href="{% url 'login' %}">
    <button>Idi na Log In</button>
</a>
<a href="{% url 'signup' %}">
    <button>Idi na Sign Up</button>
</a>
<a href="{% url 'password_change' %}">
    <button>Idi na Change Password</button>
</a>
<a href="{% url 'password_reset' %}">
    <button>Idi na Reset Password</button>
</a>
<a href="http://127.0.0.1:8000/admin/">
    <button>Admin stranica</button>
</a>
{% endblock content %}